<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'demo_page', :plugin => 'redmine_statistics' %>
  <%= stylesheet_link_tag 'demo_table', :plugin => 'redmine_statistics' %>
<% end %>

<div id="dt_example">
  <div id="container_big">
    <div id="demo">
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
          <tr>
            <th>NAME</th>
            <th>Found Issues</th>
            <th>NotABug Issues</th>
            <th>FixReopen Issues</th>
            <th>Fixed Issues</th>
            <th>Note</th>
          </tr>
        </thead>
        <% @team_test_data_hash.each do |key, value| %>
        <tbody>
          <tr class="gradeC">
            <td><%= key %></td>
            <td><%= value[0] %></td>
            <td><%= value[1] %></td>
            <td><%= value[2] %></td>
            <td><%= value[3] %></td>
            <td><img src="/images/more_details.png" alt="显示组员详情" onclick="show_details(this)"><span style="display:none">&nbsp;&nbsp;隐藏详情</span><span>&nbsp;&nbsp;显示详情</span></td>
          </tr>
        </tbody>
        <tbody style="display:none">
          <% @team_test_hash[key].each do |t_key, t_value| %>
            <tr class="gradeA">
              <td><%= User.find(t_key).name %></td>
              <td><%= t_value[5] %></td>
              <td><%= t_value[6] %></td>
              <td><%= t_value[7] %></td>
              <td><%= t_value[8] %></td>
              <td>无备注</td>
            </tr>
          <% end %>
        </tbody>
        <% end %>
        <tfoot>
          <tr>
            <th>TEST TEAM</th>
            <th>Found Issues</th>
            <th>NotABug Issues</th>
            <th>FixReopen Issues</th>
            <th>Fixed Issues</th>
            <th>Note</th>
          </tr>
      </tfoot>
     </table>
    </div>
  </div>
</div>